.footer {
    max-width: 1600px;
    background-color: var(--color-background-dark);
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    
        @media screen and (min-width: 1200px) {
            height: 252px;
        }
}

.footer-container {
    @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
}


.footer-accent {
    color: var(--color-brand);
    font-family: 'Raleway', inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-container__address {
@media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

@media screen and (min-width: 1200px) {
    margin-right: 70px;
}
}