.modal {
    // display: block;
    position: relative;
    width: 100%;
    max-width: 450px;
    background-color: var(--color-background);
    /* justify-content: center;
    align-items: center;
    align-content: stretch; */
    padding: 40px;
    margin: 0 auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    
    overflow-y: scroll;

    @media screen and (min-width: 1200px) {
            width: 528px;
            // height: 581px;
            max-height: 609px;
        }
}

.modal__title {
    color: var(--color-secondary);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.5;
}